:root {
    --marvelous: #4efff9;
    --perfect: #dede00;
    --great: #00a900;
    --good: #4444ff;
    --bad: #dd67ff;
    --miss: #ff1a1a;
    --counter-width: 150px;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(../fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: "Roboto Mono Bold";
    src: url(../fonts/RobotoMono-Bold.ttf);
}

body {
    box-sizing: border-box;
}

#main {
    width: var(--counter-width);
    font-size: 1.1em;
    color: white;
    font-family: "Roboto Mono", sans-serif;
}

.num-split, .le-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-split-container {
    margin: 10px 0;
}

.num-split {
    padding: 3px 0;
}

.num-title {
    font-family: "Roboto Mono Bold", sans-serif;
    font-size: 1.1em;
}

.num-value {
    text-align: right;
}

.ma {
    color: var(--marvelous);
}

.pr {
    color: var(--perfect);
}

.gr {
    color: var(--great);
}

.gd {
    color: var(--good);
}

.bd {
    color: var(--bad);
}

.ms {
    color: var(--miss);
}

.num-right {
    font-family: "Roboto Mono Bold", sans-serif;
    color: white;
    text-align: right;
}

#ur, #acc {
    font-size: 1.3em;
}

.early {
    color: #4efff9;
}

.late {
    color: #ff1a1a;
}

.le-split-container {
    margin-top: 10px;
}
.od-info {
    text-align: right;
}

.debug {
    text-align: right;
    font-size: 0.75em;
    margin-top: 20px;
}

.ratio-red {
    color: red;
}

.ratio-green {
    color: greenyellow;
}
